  @media (min-width: 768px) {
      .login-form {
          height: 100vh !important;
      }
  }

  @media (min-width: 769px) {
      .login-form__container-img {
          border-top-right-radius: .3rem;
          border-bottom-right-radius: .3rem;
      }
  }

  @media (min-width: 992px) {
    .d-flex {
        display: flex !important;
    }
  }